<!DOCTYPE html>
<html x-data="data()" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/fragment :: head">
<body>

<div class="flex h-screen bg-gray-50 dark:bg-gray-900"
     :class="{ 'overflow-hidden': isSideMenuOpen }">
    <!-- 좌측 메뉴 -->
    <div th:replace="layout/fragment :: left-menu"></div>

    <div
            x-show="isSideMenuOpen"
            x-transition:enter="transition ease-in-out duration-150"
            x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-100"
            x-transition:leave="transition ease-in-out duration-150"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0"
            class="fixed inset-0 z-10 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center"
    ></div>
    <!-- 모바일 메뉴 -->
    <div th:replace="layout/fragment :: mobile-menu"></div>

    <div class="flex flex-col flex-1 w-full">
        <!-- sub 상단 메뉴 -->
        <div th:replace="layout/sub-header-fragment ::sub-header-product"></div>
        <main class="h-full overflow-y-auto">
            <!-- start -->
            <div class="px-6 grid md:grid-cols-2 gap-4">
                <!-- Breadcrumb start -->
                <div class="text-xl font-semibold flex items-center h-16">
                    <nav class="flex" aria-label="Breadcrumb">
                        <ol class="inline-flex items-center space-x-1 md:space-x-3">
                            <li class="inline-flex items-center">
                                <a href="#"
                                   class="inline-flex items-center text-sm text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                                    <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
                                    </svg>
                                    Home
                                </a>
                            </li>
                            <li>
                                <div class="flex items-center">
                                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <a href="#"
                                       class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">협력업체
                                        관리</a>
                                </div>
                            </li>
                            <li aria-current="page">
                                <div class="flex items-center">
                                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <span class="ml-1 text-sm font-medium text-gray-400 md:ml-2 dark:text-gray-500">상품 등록</span>
                                </div>
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- Breadcrumb end -->
            </div>
            <!-- end -->


            <!-- start -->
            <div class="px-6 grid gap-4">

                <div class="grid gap-6">
                    <div class="w-full overflow-hidden rounded-lg shadow-xs">
                        <div class="w-full overflow-auto bg-white">
                            <!-- test table start -->
                            <table class="w-full">
                                <tbody>
                                <tr class="text-sm border-b text-gray-700 uppercase dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                                    <th class="px-4 py-3 bg-gray-50 w-32">상품명</th>
                                    <td colspan="3" class="px-4 py-3 bg-white">
                                        <input type="text" class="w-full form-input">
                                    </td>
                                </tr>
                                <tr class="text-sm border-b text-gray-700 uppercase dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                                    <th class="px-4 py-3 bg-gray-50 w-32">제휴사</th>
                                    <td class="px-4 py-3 bg-white">
                                        <label for="partnerName"
                                               class="hidden text-sm font-medium text-gray-900 dark:text-gray-400">시간선택</label>
                                        <select id="partnerName"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-32 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                            <option value="STARBUCKS">STARBUCKS</option>
                                            <option value="IKEA">IKEA</option>
                                        </select>
                                    </td>
                                    <th class="px-4 py-3 bg-gray-50 w-32">수수료</th>
                                    <td class="px-4 py-3 bg-white">
                                        <label for="commission"
                                               class="hidden text-sm font-medium text-gray-900 dark:text-gray-400">시간선택</label>
                                        <select id="commission"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-32 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                            <option value="10%">10%</option>
                                            <option value="20%">20%</option>
                                            <option value="30%">30%</option>
                                            <option value="40%">40%</option>
                                            <option value="50%">50%</option>
                                            <option value="60%">60%</option>
                                            <option value="70%">70%</option>
                                            <option value="80%">80%</option>
                                            <option value="90%">90%</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="text-sm border-b text-gray-700 uppercase dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                                    <th class="px-4 py-3 bg-gray-50 w-32">검색키워드</th>
                                    <td colspan="3" class="px-4 py-3 bg-white">
                                        <input type="text" class="w-full form-input">
                                        <div class="mt-2">
                                            <span class="bg-gray-100 text-gray-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">키워드1</span>
                                            <span class="bg-gray-100 text-gray-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">키워드2</span>
                                            <span class="bg-gray-100 text-gray-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">키워드3</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="text-sm border-b text-gray-700 uppercase dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                                    <th class="px-4 py-3 bg-gray-50 w-32">
                                        <p>상품목록</p>
                                        <p>이미지 설정</p>
                                    </th>
                                    <td colspan="3" class="px-4 py-3 bg-white">
                                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                               for="upFile1"></label>
                                        <input class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none focus:border-transparent dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                               aria-describedby="user_avatar_help" id="upFile1" type="file">
                                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                               for="upFile2"></label>
                                        <input class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none focus:border-transparent dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                               aria-describedby="user_avatar_help" id="upFile2" type="file">
                                    </td>
                                </tr>
                                <tr class="text-sm border-b text-gray-700 uppercase dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                                    <th class="px-4 py-3 bg-gray-50 w-32">매입가</th>
                                    <td class="px-4 py-3 bg-white">
                                        <div class="flex relative">
                                            <input type="text" class="w-full form-input" maxlength="10">
                                            <span class="absolute right-0 top-0 h-full inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-r-md border border-l-0 border-gray-300 dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                        원
                      </span>
                                        </div>
                                    </td>
                                    <th class="px-4 py-3 bg-gray-50 w-32">판매가</th>
                                    <td class="px-4 py-3 bg-white">
                                        <div class="flex relative">
                                            <input type="text" class="w-full form-input" maxlength="10">
                                            <span class="absolute right-0 top-0 h-full inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-r-md border border-l-0 border-gray-300 dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                        원
                      </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="text-sm border-b text-gray-700 uppercase dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                                    <th class="px-4 py-3 bg-gray-50 w-32">할인금액</th>
                                    <td class="px-4 py-3 bg-white">
                                        <div class="flex relative">
                                            <input type="text" class="w-full form-input" maxlength="10">
                                            <span class="absolute right-0 top-0 h-full inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-r-md border border-l-0 border-gray-300 dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                        원
                      </span>
                                        </div>
                                    </td>
                                    <th class="px-4 py-3 bg-gray-50 w-32">판매수량</th>
                                    <td class="px-4 py-3 bg-white">
                                        <div class="grid ">
                                            <div class="flex relative">
                                                <input type="text" class="w-full form-input" maxlength="10">
                                                <span class="absolute right-0 top-0 h-full inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-r-md border border-l-0 border-gray-300 dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                        개
                        </span>
                                            </div>
                                            <div class="text-red-600 font-bold flex justify-start items-center mt-2">
                                                (*0 입력시 무제한 판매)
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="text-sm border-b text-gray-700 uppercase dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                                    <th class="px-4 py-3 bg-gray-50 w-32">상품 상세설명</th>
                                    <td colspan="3" class="px-4 py-3 bg-white">
                                        <textarea name="" id="" cols="30" rows="10"
                                                  class="w-full h-36 form-input"></textarea>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="flex justify-center my-4 gap-4">
                                <a href="/admin/partners/product/list">
                                    <button class="bg-gray-500 text-white text-sm rounded-lg font-medium py-1 px-6 hover:bg-gray-700">
                                        취소
                                    </button>
                                </a>
                                <a href="/admin/partners/product/list">
                                    <button class="bg-red-500 text-white text-sm rounded-lg font-medium py-1 px-6 hover:bg-red-700">
                                        등록
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end -->
        </main>
        <div th:replace="layout/fragment :: footer"></div>
    </div>
</div>
</body>
</html>
