<!DOCTYPE html>
<html x-data="data()" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/fragment :: head">
<body>

<div class="flex h-screen bg-gray-50 dark:bg-gray-900"
     :class="{ 'overflow-hidden': isSideMenuOpen }">
    <!-- 좌측 메뉴 -->
    <div th:replace="layout/fragment :: left-menu"></div>

    <div
            x-show="isSideMenuOpen"
            x-transition:enter="transition ease-in-out duration-150"
            x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-100"
            x-transition:leave="transition ease-in-out duration-150"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0"
            class="fixed inset-0 z-10 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center"
    ></div>
    <!-- 모바일 메뉴 -->
    <div th:replace="layout/fragment :: mobile-menu"></div>

    <div class="flex flex-col flex-1 w-full">
        <!-- sub 상단 메뉴 -->
        <div th:replace="layout/sub-header-fragment ::sub-header-statistics"></div>
        <main class="h-full overflow-y-auto">
            <!-- start -->
            <div class="px-6 grid md:grid-cols-3 gap-4">
                <!-- Breadcrumb start -->
                <div class="text-xl font-semibold flex items-center h-16">
                    <nav class="flex" aria-label="Breadcrumb">
                        <ol class="inline-flex items-center space-x-1 md:space-x-3">
                            <li class="inline-flex items-center">
                                <a href="#"
                                   class="inline-flex items-center text-sm text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                                    <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
                                    </svg>
                                    Home
                                </a>
                            </li>
                            <li>
                                <div class="flex items-center">
                                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <a href="#"
                                       class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">매출
                                        통계 관리</a>
                                </div>
                            </li>
                            <li aria-current="page">
                                <div class="flex items-center">
                                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <span class="ml-1 text-sm font-medium text-gray-400 md:ml-2 dark:text-gray-500">목록</span>
                                </div>
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- Breadcrumb end -->
                <div class="p-2 col-span-2 grid md:grid-cols-6">
                    <div class="col-span-2"></div>
                    <div class="grid md:grid-cols-4 gap-2 md:col-span-4">
                        <div class="md:col-span-1">
                            <div class="relative">
                                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                    <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                                         viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <input id="statisticsStartDate" autocomplete="off" datepicker datepicker-buttons
                                       datepicker-format="yyyy-mm-dd" datepicker-orientation="bottom left" type="text"
                                       class="w-full h-full py-4 pl-2.5 pr-2 text-sm placeholder-gray-600 bg-white border border-gray-300 pl-10 p-2.5 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300"
                                       placeholder="날짜 선택">
                            </div>
                        </div>
                        <div class="md:col-span-1">
                            <div class="relative">
                                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                    <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                                         viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <input id="statisticsEndDate" autocomplete="off" datepicker datepicker-buttons
                                       datepicker-format="yyyy-mm-dd" datepicker-orientation="bottom left" type="text"
                                       class="w-full h-full py-4 pl-2.5 pr-2 text-sm placeholder-gray-600 bg-white border border-gray-300 pl-10 p-2.5 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300"
                                       placeholder="날짜 선택">
                            </div>
                        </div>
                        <div class="md:col-span-2 flex justify-start items-center gap-4">
                            <button class="md:w-20 w-full h-full px-3 text-sm text-center font-medium leading-5 text-white transition-colors duration-150 bg-black border border-transparent rounded-lg active:bg-gray-600 hover:bg-gray-700 focus:outline-none focus:shadow-outline-gray">
                                1주일
                            </button>
                            <button class="md:w-20 w-full h-full px-3 text-sm text-center font-medium leading-5 text-white transition-colors duration-150 bg-black border border-transparent rounded-lg active:bg-gray-600 hover:bg-gray-700 focus:outline-none focus:shadow-outline-gray">
                                1개월
                            </button>
                            <button class="md:w-20 w-full h-full px-3 text-sm text-center font-medium leading-5 text-white transition-colors duration-150 bg-black border border-transparent rounded-lg active:bg-gray-600 hover:bg-gray-700 focus:outline-none focus:shadow-outline-gray">
                                3개월
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end -->
            <div class="px-6 mx-auto grid">
                <!-- 상단 타이틀 & 검색영역 -->
                <!-- tab start -->
                <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
                    <ul class="flex flex-wrap -mb-px" id="myTab1" data-tabs-toggle="#myTabContent1" role="tablist">
                        <li class="mr-2" role="presentation">
                            <button class="inline-block py-4 px-4 text-sm font-medium text-center text-gray-500 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-300 active"
                                    id="dayOrders-tab" data-tabs-target="#dayOrders" type="button" role="tab"
                                    aria-controls="dayOrders" aria-selected="true">일간 주문 현황
                            </button>
                        </li>
                        <li class="mr-2" role="presentation">
                            <button class="inline-block py-4 px-4 text-sm font-medium text-center text-gray-500 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-300"
                                    id="weekOrders-tab" data-tabs-target="#weekOrders" type="button" role="tab"
                                    aria-controls="weekOrders" aria-selected="false">주간 주문 현황
                            </button>
                        </li>
                        <li class="mr-2" role="presentation">
                            <button class="inline-block py-4 px-4 text-sm font-medium text-center text-gray-500 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-300"
                                    id="monthOrders-tab" data-tabs-target="#monthOrders" type="button" role="tab"
                                    aria-controls="monthOrders" aria-selected="false">월간 주문 현황
                            </button>
                        </li>
                    </ul>
                </div>
                <div id="myTabContent1">
                    <div class="bg-gray-50 rounded-lg dark:bg-gray-800" id="dayOrders" role="tabpanel"
                         aria-labelledby="dayOrders-tab">
                        <!-- day Order Start -->
                        <div class="w-full overflow-hidden rounded-lg shadow-xs">
                            <div class="w-full overflow-auto">
                                <table class="w-full whitespace-no-wrap">
                                    <thead>
                                    <tr class="text-sm font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                        <th class="w-32 px-1 py-3 text-center">총 판매금액</th>
                                        <th class="w-24 px-1 py-3 text-center">총 구매건수</th>
                                        <th class="px-1 px-1 py-3 text-center">총 구매자 수</th>
                                        <th class="w-24 px-1 py-3 text-center">총 구매 개수</th>
                                        <th class="w-32 px-1 py-3 text-center">최대/최소 판매금액</th>
                                        <th class="w-32 px-1 py-3 text-center">최대/최소 구매건수</th>
                                    </tr>
                                    </thead>
                                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                                    <tr class="text-gray-700 dark:text-gray-400">
                                        <td class="px-2 py-3 text-center text-sm">10,000원</td>
                                        <td class="px-2 py-3 text-center text-sm">22건</td>
                                        <td class="px-2 py-3 text-center text-sm">23명</td>
                                        <td class="px-2 py-3 text-center text-sm">21개</td>
                                        <td class="px-2 py-3 text-center text-sm">20,000원</td>
                                        <td class="px-2 py-3 text-center text-sm">10건</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="w-full overflow-hidden rounded-lg shadow-xs mt-4">
                            <div class="w-full overflow-auto">
                                <table class="w-full whitespace-no-wrap">
                                    <thead>
                                    <tr class="text-sm font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                        <th class="w-32 px-1 py-3 text-center">날짜</th>
                                        <th class="w-24 px-1 py-3 text-center">판매 금액</th>
                                        <th class="px-1 px-1 py-3 text-center">구매건수</th>
                                        <th class="w-24 px-1 py-3 text-center">구매자수</th>
                                        <th class="w-32 px-1 py-3 text-center">구매개수</th>
                                    </tr>
                                    </thead>
                                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                                    <tr class="text-gray-700 dark:text-gray-400">
                                        <td class="px-2 py-3 text-center text-sm">2022-02-02 12:12:12</td>
                                        <td class="px-2 py-3 text-center text-sm">23,000원</td>
                                        <td class="px-2 py-3 text-center text-sm">3건</td>
                                        <td class="px-2 py-3 text-center text-sm">1명</td>
                                        <td class="px-2 py-3 text-center text-sm">3개</td>
                                    </tr>
                                    <tr class="text-gray-700 dark:text-gray-400">
                                        <td class="px-2 py-3 text-center text-sm">2022-02-02 12:12:12</td>
                                        <td class="px-2 py-3 text-center text-sm">23,000원</td>
                                        <td class="px-2 py-3 text-center text-sm">3건</td>
                                        <td class="px-2 py-3 text-center text-sm">1명</td>
                                        <td class="px-2 py-3 text-center text-sm">3개</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-start-2 col-end-6 text-center mt-3">
                            <nav aria-label="Page navigation example">
                                <ul class="inline-flex items-center -space-x-px flex items-baseline">
                                    <li>
                                        <a href="#"
                                           class="block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            <i class="fas fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            <i class="fas fa-chevron-left"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            2
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" aria-current="page"
                                           class="z-10 py-2 px-3 leading-tight text-blue-600 bg-blue-50 border border-blue-300 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">
                                            3
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            4
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            5
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            6
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            7
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            8
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            9
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            10
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="block py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            <i class="fas fa-chevron-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="block py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            <i class="fas fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- day Order End -->
                    </div>
                    <div class="hidden bg-gray-50 rounded-lg dark:bg-gray-800" id="weekOrders" role="tabpanel"
                         aria-labelledby="weekOrders-tab">
                        <!-- week Order Start -->
                        <div class="w-full overflow-hidden rounded-lg shadow-xs">
                            <div class="w-full overflow-auto">
                                <table class="w-full whitespace-no-wrap">
                                    <thead>
                                    <tr class="text-sm font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                        <th class="w-32 px-1 py-3 text-center">총 판매금액</th>
                                        <th class="w-24 px-1 py-3 text-center">총 구매건수</th>
                                        <th class="px-1 px-1 py-3 text-center">총 구매자 수</th>
                                        <th class="w-24 px-1 py-3 text-center">총 구매 개수</th>
                                        <th class="w-32 px-1 py-3 text-center">최대/최소 판매금액</th>
                                        <th class="w-32 px-1 py-3 text-center">최대/최소 구매건수</th>
                                    </tr>
                                    </thead>
                                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                                    <tr class="text-gray-700 dark:text-gray-400">
                                        <td class="px-2 py-3 text-center text-sm">10,000원</td>
                                        <td class="px-2 py-3 text-center text-sm">22건</td>
                                        <td class="px-2 py-3 text-center text-sm">23명</td>
                                        <td class="px-2 py-3 text-center text-sm">21개</td>
                                        <td class="px-2 py-3 text-center text-sm">20,000원</td>
                                        <td class="px-2 py-3 text-center text-sm">10건</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="w-full overflow-hidden rounded-lg shadow-xs mt-4">
                            <div class="w-full overflow-auto">
                                <table class="w-full whitespace-no-wrap">
                                    <thead>
                                    <tr class="text-sm font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                        <th class="w-32 px-1 py-3 text-center">날짜</th>
                                        <th class="w-24 px-1 py-3 text-center">판매 금액</th>
                                        <th class="px-1 px-1 py-3 text-center">구매건수</th>
                                        <th class="w-24 px-1 py-3 text-center">구매자수</th>
                                        <th class="w-32 px-1 py-3 text-center">구매개수</th>
                                    </tr>
                                    </thead>
                                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                                    <tr class="text-gray-700 dark:text-gray-400">
                                        <td class="px-2 py-3 text-center text-sm">2022-02-02 12:12:12</td>
                                        <td class="px-2 py-3 text-center text-sm">23,000원</td>
                                        <td class="px-2 py-3 text-center text-sm">3건</td>
                                        <td class="px-2 py-3 text-center text-sm">1명</td>
                                        <td class="px-2 py-3 text-center text-sm">3개</td>
                                    </tr>
                                    <tr class="text-gray-700 dark:text-gray-400">
                                        <td class="px-2 py-3 text-center text-sm">2022-02-02 12:12:12</td>
                                        <td class="px-2 py-3 text-center text-sm">23,000원</td>
                                        <td class="px-2 py-3 text-center text-sm">3건</td>
                                        <td class="px-2 py-3 text-center text-sm">1명</td>
                                        <td class="px-2 py-3 text-center text-sm">3개</td>
                                    </tr>
                                    <tr class="text-gray-700 dark:text-gray-400">
                                        <td class="px-2 py-3 text-center text-sm">2022-02-02 12:12:12</td>
                                        <td class="px-2 py-3 text-center text-sm">23,000원</td>
                                        <td class="px-2 py-3 text-center text-sm">3건</td>
                                        <td class="px-2 py-3 text-center text-sm">1명</td>
                                        <td class="px-2 py-3 text-center text-sm">3개</td>
                                    </tr>
                                    <tr class="text-gray-700 dark:text-gray-400">
                                        <td class="px-2 py-3 text-center text-sm">2022-02-02 12:12:12</td>
                                        <td class="px-2 py-3 text-center text-sm">23,000원</td>
                                        <td class="px-2 py-3 text-center text-sm">3건</td>
                                        <td class="px-2 py-3 text-center text-sm">1명</td>
                                        <td class="px-2 py-3 text-center text-sm">3개</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-start-2 col-end-6 text-center mt-3">
                            <nav aria-label="Page navigation example">
                                <ul class="inline-flex items-center -space-x-px flex items-baseline">
                                    <li>
                                        <a href="#"
                                           class="block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            <i class="fas fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            <i class="fas fa-chevron-left"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            2
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" aria-current="page"
                                           class="z-10 py-2 px-3 leading-tight text-blue-600 bg-blue-50 border border-blue-300 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">
                                            3
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            4
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            5
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            6
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            7
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            8
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            9
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            10
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="block py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            <i class="fas fa-chevron-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="block py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            <i class="fas fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- week Order End -->
                    </div>
                    <div class="hidden bg-gray-50 rounded-lg dark:bg-gray-800" id="monthOrders" role="tabpanel"
                         aria-labelledby="monthOrders-tab">
                        <!-- month Order Start -->
                        <div class="w-full overflow-hidden rounded-lg shadow-xs">
                            <div class="w-full overflow-auto">
                                <table class="w-full whitespace-no-wrap">
                                    <thead>
                                    <tr class="text-sm font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                        <th class="w-32 px-1 py-3 text-center">총 판매금액</th>
                                        <th class="w-24 px-1 py-3 text-center">총 구매건수</th>
                                        <th class="px-1 px-1 py-3 text-center">총 구매자 수</th>
                                        <th class="w-24 px-1 py-3 text-center">총 구매 개수</th>
                                        <th class="w-32 px-1 py-3 text-center">최대/최소 판매금액</th>
                                        <th class="w-32 px-1 py-3 text-center">최대/최소 구매건수</th>
                                    </tr>
                                    </thead>
                                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                                    <tr class="text-gray-700 dark:text-gray-400">
                                        <td class="px-2 py-3 text-center text-sm">10,000원</td>
                                        <td class="px-2 py-3 text-center text-sm">22건</td>
                                        <td class="px-2 py-3 text-center text-sm">23명</td>
                                        <td class="px-2 py-3 text-center text-sm">21개</td>
                                        <td class="px-2 py-3 text-center text-sm">20,000원</td>
                                        <td class="px-2 py-3 text-center text-sm">10건</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="w-full overflow-hidden rounded-lg shadow-xs mt-4">
                            <div class="w-full overflow-auto">
                                <table class="w-full whitespace-no-wrap">
                                    <thead>
                                    <tr class="text-sm font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                        <th class="w-32 px-1 py-3 text-center">날짜</th>
                                        <th class="w-24 px-1 py-3 text-center">판매 금액</th>
                                        <th class="px-1 px-1 py-3 text-center">구매건수</th>
                                        <th class="w-24 px-1 py-3 text-center">구매자수</th>
                                        <th class="w-32 px-1 py-3 text-center">구매개수</th>
                                    </tr>
                                    </thead>
                                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                                    <tr class="text-gray-700 dark:text-gray-400">
                                        <td class="px-2 py-3 text-center text-sm">2022-02-02 12:12:12</td>
                                        <td class="px-2 py-3 text-center text-sm">23,000원</td>
                                        <td class="px-2 py-3 text-center text-sm">3건</td>
                                        <td class="px-2 py-3 text-center text-sm">1명</td>
                                        <td class="px-2 py-3 text-center text-sm">3개</td>
                                    </tr>
                                    <tr class="text-gray-700 dark:text-gray-400">
                                        <td class="px-2 py-3 text-center text-sm">2022-02-02 12:12:12</td>
                                        <td class="px-2 py-3 text-center text-sm">23,000원</td>
                                        <td class="px-2 py-3 text-center text-sm">3건</td>
                                        <td class="px-2 py-3 text-center text-sm">1명</td>
                                        <td class="px-2 py-3 text-center text-sm">3개</td>
                                    </tr>
                                    <tr class="text-gray-700 dark:text-gray-400">
                                        <td class="px-2 py-3 text-center text-sm">2022-02-02 12:12:12</td>
                                        <td class="px-2 py-3 text-center text-sm">23,000원</td>
                                        <td class="px-2 py-3 text-center text-sm">3건</td>
                                        <td class="px-2 py-3 text-center text-sm">1명</td>
                                        <td class="px-2 py-3 text-center text-sm">3개</td>
                                    </tr>
                                    <tr class="text-gray-700 dark:text-gray-400">
                                        <td class="px-2 py-3 text-center text-sm">2022-02-02 12:12:12</td>
                                        <td class="px-2 py-3 text-center text-sm">23,000원</td>
                                        <td class="px-2 py-3 text-center text-sm">3건</td>
                                        <td class="px-2 py-3 text-center text-sm">1명</td>
                                        <td class="px-2 py-3 text-center text-sm">3개</td>
                                    </tr>
                                    <tr class="text-gray-700 dark:text-gray-400">
                                        <td class="px-2 py-3 text-center text-sm">2022-02-02 12:12:12</td>
                                        <td class="px-2 py-3 text-center text-sm">23,000원</td>
                                        <td class="px-2 py-3 text-center text-sm">3건</td>
                                        <td class="px-2 py-3 text-center text-sm">1명</td>
                                        <td class="px-2 py-3 text-center text-sm">3개</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-start-2 col-end-6 text-center mt-3">
                            <nav aria-label="Page navigation example">
                                <ul class="inline-flex items-center -space-x-px flex items-baseline">
                                    <li>
                                        <a href="#"
                                           class="block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            <i class="fas fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            <i class="fas fa-chevron-left"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            2
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" aria-current="page"
                                           class="z-10 py-2 px-3 leading-tight text-blue-600 bg-blue-50 border border-blue-300 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">
                                            3
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            4
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            5
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            6
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            7
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            8
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            9
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            10
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="block py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            <i class="fas fa-chevron-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="block py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            <i class="fas fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- month Order End -->
                    </div>
                </div>
                <!-- tab end -->
            </div>
        </main>
        <div th:replace="layout/fragment :: footer"></div>
    </div>
</div>
</body>
</html>
