<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<!-- -------------- -->
<!-- 회원 관리 상단 메뉴 -->
<!-- -------------- -->
<header th:fragment="sub-header-user" class="z-10 py-4 bg-white border-b dark:bg-gray-800">
  <div class="flex items-center justify-between h-full px-6 mx-auto text-purple-600 dark:text-purple-300">
    <!-- Mobile hamburger -->
<!--
    <button class="p-1 mr-5 -ml-1 rounded-md md:hidden focus:outline-none focus:shadow-outline-purple" @click="toggleSideMenu" aria-label="Menu">
      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
      </svg>
    </button>
-->
    <!-- Search input -->

    <div class="flex justify-start">
      <a th:href="@{/admin/user/list}">
        <button type="button"
                class="py-2 px-4 mr-2 mb-2 text-sm font-medium
                text-gray-900 rounded-full border
                border-gray-200 hover:bg-gray-100 hover:text-blue-700
                focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700
                dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600
                dark:hover:text-white dark:hover:bg-gray-700"
                th:classappend="${header == 'userList' ? 'bg-yellow-500 text-white' : 'bg-white' }">전체 회원</button>
      </a>
      <a th:href="@{/admin/user/normalList}">
        <button type="button"
                class="py-2 px-4 mr-2 mb-2 text-sm font-medium
                text-gray-900 rounded-full border
                border-gray-200 hover:bg-gray-100 hover:text-blue-700
                focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700
                dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600
                dark:hover:text-white dark:hover:bg-gray-700"
                th:classappend="${header == 'normal' ? 'bg-yellow-500 text-white' : 'bg-white' }">정상 회원</button>
      </a>
      <a th:href="@{/admin/user/deprecatedList}">
        <button type="button"
                class="py-2 px-4 mr-2 mb-2 text-sm font-medium
                text-gray-900 rounded-full border
                border-gray-200 hover:bg-gray-100 hover:text-blue-700
                focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700
                dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600
                dark:hover:text-white dark:hover:bg-gray-700"
                th:classappend="${header == 'deprecated' ? 'bg-yellow-500 text-white' : 'bg-white' }">사용 제한 회원</button>
      </a>
      <a th:href="@{/admin/user/blockList}">
        <button type="button"
                class="py-2 px-4 mr-2 mb-2 text-sm font-medium
                text-gray-900 rounded-full border
                border-gray-200 hover:bg-gray-100 hover:text-blue-700
                focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700
                dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600
                dark:hover:text-white dark:hover:bg-gray-700"
                th:classappend="${header == 'blockList' ? 'bg-yellow-500 text-white' : 'bg-white' }">차단 중인 회원</button>
      </a>
<!--
      <a href="#">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          차단 중인 회원
        </button>
      </a>
      <a href="#">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          정상 회원
        </button>
      </a>
      <a href="#">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          탈퇴한 회원
        </button>
      </a>
      <a href="#">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          이용 정지 회원
        </button>
      </a>
      <a href="#">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          탈퇴 유예 회원
        </button>
      </a>
      <a href="#">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          이용 정지 중인 회원
        </button>
      </a>
      <a href="#">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          이용 정지 중인 회원
        </button>
      </a>
-->
    </div>
  </div>
</header>


<!-- -------------- -->
<!-- 큐브(룸) 관리 상단 메뉴 -->
<!-- -------------- -->
<header th:fragment="sub-header-room" class="z-10 py-4 bg-white border-b dark:bg-gray-800">
  <div class="flex items-center justify-between h-full px-6 mx-auto text-purple-600 dark:text-purple-300">
    <!-- Mobile hamburger -->
<!--
    <button class="p-1 mr-5 -ml-1 rounded-md md:hidden focus:outline-none focus:shadow-outline-purple" @click="toggleSideMenu" aria-label="Menu">
      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
      </svg>
    </button>
-->
    <!-- Search input -->

    <div class="flex justify-start">
      <a href="#">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          Sub Menu1
        </button>
      </a>
    </div>
  </div>
</header>

<!-- -------------- -->
<!-- SNS 관리 상단 메뉴 -->
<!-- -------------- -->
<header th:fragment="sub-header-sns" class="z-10 py-4 bg-white border-b dark:bg-gray-800">
  <div class="flex items-center justify-between h-full px-6 mx-auto text-purple-600 dark:text-purple-300">
    <!-- Mobile hamburger -->
<!--
    <button class="p-1 mr-5 -ml-1 rounded-md md:hidden focus:outline-none focus:shadow-outline-purple" @click="toggleSideMenu" aria-label="Menu">
      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
      </svg>
    </button>
-->
    <!-- Search input -->

    <div class="flex justify-start">
      <a href="#">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          Sub Menu1
        </button>
      </a>
    </div>
  </div>
</header>

<!-- -------------- -->
<!-- 공지사항 관리 상단 메뉴 -->
<!-- -------------- -->
<header th:fragment="sub-header-notice" class="z-10 py-4 bg-white border-b dark:bg-gray-800">
  <div class="flex items-center justify-between h-full px-6 mx-auto text-purple-600 dark:text-purple-300">
    <!-- Mobile hamburger -->
<!--
    <button class="p-1 mr-5 -ml-1 rounded-md md:hidden focus:outline-none focus:shadow-outline-purple" @click="toggleSideMenu" aria-label="Menu">
      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
      </svg>
    </button>
-->
    <!-- Search input -->

    <div class="flex justify-start">
      <a href="#">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          Sub Menu1
        </button>
      </a>
    </div>
  </div>
</header>

<!-- -------------- -->
<!-- 푸시 메시지 관리 상단 메뉴 -->
<!-- -------------- -->
<header th:fragment="sub-header-message" class="z-10 py-4 bg-white border-b dark:bg-gray-800">
  <div class="flex items-center justify-between h-full px-6 mx-auto text-purple-600 dark:text-purple-300">
    <!-- Mobile hamburger -->
<!--
    <button class="p-1 mr-5 -ml-1 rounded-md md:hidden focus:outline-none focus:shadow-outline-purple" @click="toggleSideMenu" aria-label="Menu">
      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
      </svg>
    </button>
-->
    <!-- Search input -->

    <div class="flex justify-start">
      <a href="#">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          Sub Menu1
        </button>
      </a>
    </div>
  </div>
</header>

<!-- -------------- -->
<!-- Q&A 상단 메뉴 -->
<!-- -------------- -->
<header th:fragment="sub-header-qna" class="z-10 py-4 bg-white border-b dark:bg-gray-800">
  <div class="flex items-center justify-between h-full px-6 mx-auto text-purple-600 dark:text-purple-300">
    <!-- Mobile hamburger -->
<!--
    <button class="p-1 mr-5 -ml-1 rounded-md md:hidden focus:outline-none focus:shadow-outline-purple" @click="toggleSideMenu" aria-label="Menu">
      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
      </svg>
    </button>
-->
    <!-- Search input -->

    <div class="flex justify-start">
      <a href="#">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          Sub Menu1
        </button>
      </a>
    </div>
  </div>
</header>

<!-- -------------- -->
<!-- 협력업체 상단 메뉴 -->
<!-- -------------- -->
<header th:fragment="sub-header-partners" class="z-10 py-4 bg-white border-b dark:bg-gray-800">
  <div class="flex items-center justify-between h-full px-6 mx-auto text-purple-600 dark:text-purple-300">
    <!-- Mobile hamburger -->
<!--
    <button class="p-1 mr-5 -ml-1 rounded-md md:hidden focus:outline-none focus:shadow-outline-purple" @click="toggleSideMenu" aria-label="Menu">
      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
      </svg>
    </button>
-->
    <!-- Search input -->

    <div class="flex justify-start">
      <a th:href="@{/admin/partners/list}">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          협력업체 정보
        </button>
      </a>
      <a th:href="@{/admin/partners/products/list}">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          업체 상품 관리
        </button>
      </a>
      <a th:href="@{/admin/partners/statistics/list}">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          통계
        </button>
      </a>
    </div>
  </div>
</header>


<!-- -------------- -->
<!-- 상품관리 상단 메뉴 -->
<!-- -------------- -->
<header th:fragment="sub-header-product" class="z-10 py-4 bg-white border-b dark:bg-gray-800">
  <div class="flex items-center justify-between h-full px-6 mx-auto text-purple-600 dark:text-purple-300">
    <!-- Mobile hamburger -->
<!--
    <button class="p-1 mr-5 -ml-1 rounded-md md:hidden focus:outline-none focus:shadow-outline-purple" @click="toggleSideMenu" aria-label="Menu">
      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
      </svg>
    </button>
-->
    <!-- Search input -->

    <div class="flex justify-start">
      <a th:href="@{/admin/partners/list}">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          협력업체 정보
        </button>
      </a>
      <a th:href="@{/admin/partners/products/list}">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          업체 상품 관리
        </button>
      </a>
      <a th:href="@{/admin/partners/statistics/list}">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          통계
        </button>
      </a>
    </div>
  </div>
</header>


<!-- -------------- -->
<!-- 통계 상단 메뉴 -->
<!-- -------------- -->
<header th:fragment="sub-header-statistics" class="z-10 py-4 bg-white border-b dark:bg-gray-800">
  <div class="flex items-center justify-between h-full px-6 mx-auto text-purple-600 dark:text-purple-300">
    <!-- Mobile hamburger -->
<!--
    <button class="p-1 mr-5 -ml-1 rounded-md md:hidden focus:outline-none focus:shadow-outline-purple" @click="toggleSideMenu" aria-label="Menu">
      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
      </svg>
    </button>
-->
    <!-- Search input -->

    <div class="flex justify-start">
      <a th:href="@{/admin/partners/list}">
        <button type="button"
                class="py-2 px-4 mr-2 mb-2 text-sm font-medium
                text-gray-900 rounded-full border border-gray-200
                hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2
                focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800
                dark:text-gray-400 dark:border-gray-600 dark:hover:text-white
                dark:hover:bg-gray-700"
                th:classappend="${header == 'partners' ? 'bg-yellow-500 text-white' : 'bg-white' }">협력업체 정보</button>
      </a>
      <a th:href="@{/admin/partners/products/list}">
        <button type="button"
                class="py-2 px-4 mr-2 mb-2 text-sm font-medium
                text-gray-900 rounded-full border border-gray-200
                hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2
                focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800
                dark:text-gray-400 dark:border-gray-600 dark:hover:text-white
                dark:hover:bg-gray-700"
                th:classappend="${header == 'products' ? 'bg-yellow-500 text-white' : 'bg-white' }">업체 상품 관리</button>
      </a>
      <a th:href="@{/admin/partners/statistics/list}">
        <button type="button"
                class="py-2 px-4 mr-2 mb-2 text-sm font-medium
                text-gray-900 rounded-full border border-gray-200
                hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2
                focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800
                dark:text-gray-400 dark:border-gray-600 dark:hover:text-white
                dark:hover:bg-gray-700"
                th:classappend="${header == 'statistics' ? 'bg-yellow-500 text-white' : 'bg-white' }">통계</button>
      </a>
    </div>
  </div>
</header>




</body>
</html>