<!DOCTYPE html>
<html th:replace="~{layout/kubeesLayout :: layout(~{::title}, ~{::submenu}, ~{::main}, ~{::footer})}" x-data="data()" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">-->
  <head>
    <title>KUBEES Admin</title>
  </head>
  <body>
  <th:block th:fragment="submenu">
    <div class="flex justify-start">
      <a href="#">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          Sub Menu1
        </button>
      </a>
      <a href="#">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          Sub Menu2
        </button>
      </a>
      <a href="#">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          Sub Menu3
        </button>
      </a>
      <a href="#">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          Sub Menu4
        </button>
      </a>
      <a href="#">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          Sub Menu5
        </button>
      </a>
      <a href="#">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          Sub Menu6
        </button>
      </a>
      <a href="#">
        <button type="button" class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          Sub Menu7
        </button>
      </a>
    </div>
  </th:block>
    <main class="h-full overflow-y-auto">
      <!-- start -->
      <div class="px-6 grid md:grid-cols-2 gap-4">
        <!-- Breadcrumb start -->
        <div class="text-xl font-semibold flex items-center h-16">
          <nav class="flex" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
              <li class="inline-flex items-center">
                <a href="#" class="inline-flex items-center text-sm text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                  <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                  Home
                </a>
              </li>
              <li>
                <div class="flex items-center">
                  <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                  <a href="#" class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">공지사항 관리</a>
                </div>
              </li>
              <li aria-current="page">
                <div class="flex items-center">
                  <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                  <span class="ml-1 text-sm font-medium text-gray-400 md:ml-2 dark:text-gray-500">상세</span>
                </div>
              </li>
            </ol>
          </nav>
        </div>
        <!-- Breadcrumb end -->
      </div>
      <!-- end -->


      <!-- start -->
      <div class="px-6 grid gap-4">

        <div class="grid gap-6">
          <div class="w-full overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-auto bg-white">
              <table class="w-full">
                <tbody>
                <tr class="text-sm border-b text-gray-700 uppercase dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                  <th class="px-4 py-3 bg-gray-50 w-32">제목</th>
                  <td class="px-4 py-3 bg-white">
                    <span class="font-bold text-lg">공지사항 제목을 출력합니다.</span>
                  </td>
                </tr>
                <tr class="text-sm border-b text-gray-700 uppercase dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                  <th class="px-4 py-3 bg-gray-50 w-32">등록일</th>
                  <td class="px-4 py-3 bg-white">
                    2021-12-12 18:23
                  </td>
                </tr>
                <tr class="text-sm border-b text-gray-700 uppercase dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                  <th class="px-4 py-3 bg-gray-50 w-32">내용</th>
                  <td class="px-4 py-3 bg-white">
                    공지사항 내용을 보여줍니다.
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="flex justify-center my-4 gap-4">
                <a href="/admin/notice/list">
                  <button class="bg-gray-500 text-white text-sm rounded-lg font-medium py-1 px-6 hover:bg-gray-700">목록</button>
                </a>
                <a href="/admin/notice/edit">
                <button class="bg-red-500 text-white text-sm rounded-lg font-medium py-1 px-6 hover:bg-red-700">수정</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end -->
    </main>
  <footer>Kubees Member Detail Footer</footer>
  </body>
</html>
