<!DOCTYPE html>
<html x-data="data()" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/fragment :: head">
<body>

<div class="flex h-screen bg-gray-50 dark:bg-gray-900"
     :class="{ 'overflow-hidden': isSideMenuOpen }">
    <!-- 좌측 메뉴 -->
    <div th:replace="layout/fragment :: left-menu"></div>

    <div
            x-show="isSideMenuOpen"
            x-transition:enter="transition ease-in-out duration-150"
            x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-100"
            x-transition:leave="transition ease-in-out duration-150"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0"
            class="fixed inset-0 z-10 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center"
    ></div>
    <!-- 모바일 메뉴 -->
    <div th:replace="layout/fragment :: mobile-menu"></div>

    <div class="flex flex-col flex-1 w-full">
        <!-- sub 상단 메뉴 -->
        <div th:replace="layout/sub-header-fragment ::sub-header-notice"></div>
        <main class="h-full overflow-y-auto">
            <!-- start -->
            <div class="px-6 grid md:grid-cols-2 gap-4">
                <!-- Breadcrumb start -->
                <div class="text-xl font-semibold flex items-center h-16">
                    <nav class="flex" aria-label="Breadcrumb">
                        <ol class="inline-flex items-center space-x-1 md:space-x-3">
                            <li class="inline-flex items-center">
                                <a href="#"
                                   class="inline-flex items-center text-sm text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                                    <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
                                    </svg>
                                    Home
                                </a>
                            </li>
                            <li>
                                <div class="flex items-center">
                                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <a href="#"
                                       class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">공지사항
                                        관리</a>
                                </div>
                            </li>
                            <li aria-current="page">
                                <div class="flex items-center">
                                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <span class="ml-1 text-sm font-medium text-gray-400 md:ml-2 dark:text-gray-500">상세</span>
                                </div>
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- Breadcrumb end -->
            </div>
            <!-- end -->


            <!-- start -->
            <div class="px-6 grid gap-4">
                <form th:action="@{/admin/notice/form}" th:object="${noticeForm}" method="post">
                    <div class="grid gap-6">
                        <div class="w-full overflow-hidden rounded-lg shadow-xs">
                            <div class="w-full overflow-auto bg-white">
                                <table class="w-full">
                                    <tbody>
                                    <tr class="text-sm border-b text-gray-700 uppercase dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                                        <th class="px-4 py-3 bg-gray-50 w-32">제목</th>
                                        <td class="px-4 py-3 bg-white">
                                            <input type="text" th:field="*{title}" class="w-full form-input">
                                            <span th:if="${#fields.hasErrors('title')}" class="text-red-600">제목을 입력해 주세요</span>
                                        </td>
                                    </tr>
<!--
                                    <tr class="text-sm border-b text-gray-700 uppercase dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                                        <th class="px-4 py-3 bg-gray-50 w-32">내용</th>
                                        <td class="px-4 py-3 bg-white">
                                            <textarea id="content" th:field="*{content}" cols="30" rows="10"
                                                      class="w-full h-36 form-input"></textarea>
                                        </td>
                                    </tr>
-->

                                    <tr class="text-sm border-b text-gray-700 uppercase dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                                        <th class="px-4 py-3 bg-gray-50 w-32">내용</th>
                                        <td class="px-4 py-3 bg-white">
                                            <textarea th:field="*{contents}" cols="30" rows="10"
                                                      class="w-full h-36 form-input"></textarea>
                                        </td>
                                    </tr>
                                    <tr class="text-sm border-b text-gray-700 uppercase dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                                        <th class="px-4 py-3 bg-gray-50 w-32">발행시간</th>
                                        <td class="px-4 py-3 bg-white">
                                            <div class="flex justify-between">
                                                <div class="grid lg:grid-cols-8 gap-4 flex justify-between items-center">
                                                    <div>
                                                        <!-- radio button -->
                                                        <fieldset>
                                                            <legend class="sr-only">현재</legend>
                                                            <div class="flex items-center">
                                                                <input id="now" type="radio" th:field="*{publishTime}"
                                                                       value="now"
                                                                       class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
                                                                       aria-labelledby="country-option-1"
                                                                       aria-describedby="country-option-1">
                                                                <label for="now"
                                                                       class="block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                                                    현재
                                                                </label>
                                                            </div>
                                                        </fieldset>
                                                        <!-- radio button -->
                                                    </div>
                                                    <div class="">
                                                        <!-- radio button -->
                                                        <fieldset>
                                                            <legend class="sr-only">예약</legend>
                                                            <div class="flex items-center">
                                                                <input id="reservation" type="radio" th:field="*{publishTime}"
                                                                       value="reservation"
                                                                       class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
                                                                       aria-labelledby="country-option-2"
                                                                       aria-describedby="country-option-2">
                                                                <label for="reservation"
                                                                       class="block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                                                    예약
                                                                </label>
                                                            </div>
                                                        </fieldset>
                                                        <!-- radio button -->
                                                    </div>
                                                    <div class="lg:col-span-6 grid lg:grid-cols-3 lg:gap-2">
                                                        <div class="relative">
                                                            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                                                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                                                            </div>
                                                            <input id="noticeDatepicker" datepicker
                                                                   th:field="*{publishDate}"
                                                                   inline-datepicker
                                                                   type="text"
                                                                   autocomplete="off"
                                                                   datepicker-buttons datepicker-format="yyyy-mm-dd"
                                                                   datepicker-orientation="bottom left"
                                                                   placeholder="날짜 선택"
                                                                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                                        </div>

                                                        <div class="flex justify-between gap-2 grid lg:grid-cols-2">
                                                            <div>
                                                                <label for="publishHour"
                                                                       class="hidden text-sm font-medium text-gray-900 dark:text-gray-400">시간선택</label>
                                                                <select id="publishHour" th:field="*{publishHour}"
                                                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-32 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                                                    <option value="">시간 선택</option>
                                                                    <option value="00시">00시</option>
                                                                    <option value="01시">01시</option>
                                                                    <option value="02시">02시</option>
                                                                    <option value="03시">03시</option>
                                                                    <option value="04시">04시</option>
                                                                    <option value="05시">05시</option>
                                                                    <option value="06시">06시</option>
                                                                    <option value="07시">07시</option>
                                                                    <option value="08시">08시</option>
                                                                    <option value="09시">09시</option>
                                                                    <option value="10시">10시</option>
                                                                    <option value="11시">11시</option>
                                                                    <option value="12시">12시</option>
                                                                    <option value="13시">13시</option>
                                                                    <option value="14시">14시</option>
                                                                    <option value="15시">15시</option>
                                                                    <option value="16시">16시</option>
                                                                    <option value="17시">17시</option>
                                                                    <option value="18시">18시</option>
                                                                    <option value="19시">19시</option>
                                                                    <option value="20시">20시</option>
                                                                    <option value="21시">21시</option>
                                                                    <option value="22시">22시</option>
                                                                    <option value="23시">23시</option>
                                                                </select>
                                                            </div>
                                                            <div>
                                                                <label for="publishMinutes"
                                                                       class="hidden text-sm font-medium text-gray-900 dark:text-gray-400">분
                                                                    선택</label>
                                                                <select id="publishMinutes" th:field="*{publishMinutes}"
                                                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-32 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                                                    <option value="">분 선택</option>
                                                                    <option value="00분">00분</option>
                                                                    <option value="10분">10분</option>
                                                                    <option value="20분">20분</option>
                                                                    <option value="30분">30분</option>
                                                                    <option value="40분">40분</option>
                                                                    <option value="50분">50분</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="text-green-400 font-semibold flex items-center">* 설정한
                                                            시각으로 예약 등록 합니다.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                <span th:if="${#fields.hasErrors('publishTime')}" class="text-red-600">발행 시간을 선택해 주세요</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="flex justify-center my-4 gap-4">
                                    <a href="/admin/notice/list">
                                        <button type="button" class="bg-gray-500 text-white text-sm rounded-lg font-medium py-1 px-6 hover:bg-gray-700">
                                            취소
                                        </button>
                                    </a>
                                    <button class="bg-red-500 text-white text-sm rounded-lg font-medium py-1 px-6 hover:bg-red-700">
                                        등록
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end -->
        </main>
        <link th:href="@{/css/customBootstrap.css}" rel="stylesheet">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

        <!-- include summernote css/js-->
        <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
        <script>
            $(document).ready(function() {
                $('#contents').summernote({
                    height: 300,                 // set editor height
                    minHeight: null,             // set minimum height of editor
                    maxHeight: null,             // set maximum height of editor
                    focus: true                  // set focus to editable area after initializing summernote
                });
            });
        </script>



        <div th:replace="layout/fragment :: footer"></div>
    </div>
</div>
</body>
</html>
