<!DOCTYPE html>
<html x-data="data()" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/fragment :: head">
<body>
<div class="flex h-screen bg-gray-50 dark:bg-gray-900" :class="{ 'overflow-hidden': isSideMenuOpen }">
  <!-- 좌측 메뉴 -->
  <div th:replace="layout/fragment :: left-menu"></div>

  <div
          x-show="isSideMenuOpen"
          x-transition:enter="transition ease-in-out duration-150"
          x-transition:enter-start="opacity-0"
          x-transition:enter-end="opacity-100"
          x-transition:leave="transition ease-in-out duration-150"
          x-transition:leave-start="opacity-100"
          x-transition:leave-end="opacity-0"
          class="fixed inset-0 z-10 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center"
  ></div>
  <!-- 모바일 메뉴 -->
  <div th:replace="layout/fragment :: mobile-menu"></div>

  <div class="flex flex-col flex-1 w-full">
    <!-- sub 상단 메뉴 -->
    <div th:replace="layout/sub-header-fragment ::sub-header-user"></div>

    <main class="h-full overflow-y-auto">
      <!-- start -->
      <div class="px-6 grid md:grid-cols-2 gap-4">
        <!-- Breadcrumb start -->
        <div class="text-xl font-semibold flex items-center h-16">
          <nav class="flex" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
              <li class="inline-flex items-center">
                <a href="#" class="inline-flex items-center text-sm text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                  <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                  Home
                </a>
              </li>
              <li>
                <div class="flex items-center">
                  <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                  <a href="#" class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">큐브(룸) 관리</a>
                </div>
              </li>
              <li aria-current="page">
                <div class="flex items-center">
                  <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                  <span class="ml-1 text-sm font-medium text-gray-400 md:ml-2 dark:text-gray-500">상세</span>
                </div>
              </li>
            </ol>
          </nav>
        </div>
        <!-- Breadcrumb end -->
      </div>
      <!-- end -->
      <!-- start -->
      <div class="px-6 grid gap-4">
        <div class="grid gap-6">
          <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>
            </div>
            <div>
              <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">회원정보</p>
            </div>
          </div>
        </div>


        <div class="grid gap-6">
          <div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">

            <div class="w-full overflow-hidden rounded-lg shadow-xs">
              <div class="w-full overflow-auto">
                <table class="w-full">
                  <thead>
                  <tr class="text-sm text-gray-700 border-b dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                    <th class="px-4 py-3 bg-gray-50 w-32">사용자 계정</th>
                    <td class="px-4 py-3" th:text="${account.email}">kubees001@gmail.com</td>
                  </tr>
                  </thead>
                  <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                  <tr class="text-sm text-gray-700 dark:text-gray-400">
                    <th class="px-4 py-3 bg-gray-50 w-32">등록한 피드 갯수</th>
                    <td class="px-4 py-3 text-sm" th:text="${feedCount}">12개</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="flex p-4 mb-4 text-sm text-gray-700 bg-white shadow-xs rounded-md dark:bg-gray-700 dark:text-gray-300" role="alert">
          <span class="text-lg font-semibold mr-10">피드 목록</span>
          <span class="ml-5">
            <label for="feed-status-toggle" class="flex relative items-center cursor-pointer">
              <input type="checkbox" id="feed-status-toggle" class="sr-only" th:checked="${feedStatus == false}">
<!--                  <input type="checkbox" id="feed-status-toggle" class="sr-only" th:if="${feedStatus == true ? 'checked' : ''}">-->
              <div class="w-11 h-6 bg-gray-200 rounded-full border border-gray-200 toggle-bg dark:bg-gray-700 dark:border-gray-600"></div>
              <span class="ml-3 text-sm font-medium text-red-900 dark:text-red-300">* 숨김 처리된 피드만 보기</span>
            </label>
          </span>
        </div>
      </div>
      <!-- end -->
      <div class="px-6 mx-auto grid mb-5">
        <!-- 상단 타이틀 & 검색영역 -->
        <!-- New Table -->
        <div class="w-full overflow-hidden rounded-lg shadow-xs">
          <div class="w-full overflow-auto">
            <!-- start -->
            <div class="grid xl:grid-cols-4 lg:grid-cols-2 gap-4 feed-gallery">
              <div class="relative" th:if="${list != null}" th:each="list : ${feedList}">
                <p class="flex justify-center">
                  <a href="#" class="absolute bottom-0 z-50">
                    <button @click="openModal"
                            th:data-id="${list.id}"
                            th:data-contents="${list.contents}"
                            th:data-feed-status="${list.feedStatus}"
                            th:classappend="${list.feedStatus == true ? 'bg-red-700 hover:bg-red-800 focus:ring-red-300' : 'bg-blue-700 hover:bg-blue-800 focus:ring-blue-300'}"
                            class="text-white  focus:ring-4
                             font-medium rounded-lg text-sm px-5 py-2.5
                            text-center mr-2 mb-2
                            change-status
                            dark:focus:ring-blue-800"
                            th:text="${list.feedStatus == true ? '피드 숨기기' : '피드 보이기'}"
                    >
                      숨김 해제
                    </button>
                  </a>
                </p>
                <figure class="gallery">
                  <div th:if="${list.bgColor}" th:style="'height: 250px; background: ' + ${list.bgColor}" class="object-cover rounded-lg" style="width: 100%; height: 250px;"></div>
                  <img class="object-cover rounded-lg" th:if="${list.attachFeedOid != null}" th:src="'/images/' + ${list.attachFeedOid}" style="width: 100%; height: 250px;">
                  <figcaption>
                    <h2 class="txt-three-line" th:text="${list.contents}">컨텐츠 제목 출력부분</h2>
                  </figcaption>
                </figure>
              </div>

<!--
              <div class="relative" th:if="${list != null}" th:each="list : ${feedList}">
                <p class="flex justify-center">
                  <a href="#" class="absolute bottom-0 z-50">
                    <button @click="openModal"
                            th:data-id="${list.id}"
                            th:data-contents="${list.contents}"
                            th:data-feed-status="${list.feedStatus}"
                            th:classappend="${list.feedStatus == true ? 'bg-red-700 hover:bg-red-800 focus:ring-red-300' : 'bg-blue-700 hover:bg-blue-800 focus:ring-blue-300'}"
                            class="text-white  focus:ring-4
                             font-medium rounded-lg text-sm px-5 py-2.5
                            text-center mr-2 mb-2
                            change-status
                            dark:focus:ring-blue-800"
                            th:text="${list.feedStatus == true ? '피드 보이기' : '피드 숨기기'}"
                    >
                      피드 숨김
                    </button>
!--
                    <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                      숨김 해제
                    </button>
--
                  </a>
                </p>
                <figure class="gallery">
                  <div th:if="${list.bgColor}" th:style="'height: 250px; background: ' + ${list.bgColor}" class="object-cover rounded-lg" style="width: 100%; height: 250px;"></div>
                  <img th:if="${list.attachFeedOid != null}" th:src="'/images/' + ${list.attachFeedOid}" style="width: 100%; height: 250px;">
!--                  <img th:if="${list.bgColor == null}" class="object-cover rounded-lg" th:src="'/upload/' + ${list.imagePath}" alt="" style="height: 250px;">--
!--                  <img class="object-cover rounded-lg" src="https://flowbite.com/docs/images/blog/image-1.jpg" alt="">--
!--                  <img class="object-cover rounded-lg" th:src="@{/attach/{attachFeedOid}(attachFeedOid=${list.attachFeedOid})}" alt="" style="width: 100px; height: 200px">--
                  <figcaption>
                    <h2 class="txt-three-line" th:text="${list.contents}">컨텐츠 제목 출력부분</h2>
                  </figcaption>
                </figure>
              </div>
-->
              <!-- gallery article end -->
            </div>
            <!-- end -->
          </div>
        </div>
        <div class="col-start-1 col-span-1 flex justify-end p-4">
          <a th:href="@{/admin/user/list(searchType=${param.searchType}, keyword=${param.keyword})}">
            <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              목록
            </button>
          </a>
        </div>
      </div>
    </main>

    <!-- modal start -->
    <div x-show="isModalOpen"
         x-transition:enter="transition ease-out duration-150"
         x-transition:enter-start="opacity-0"
         x-transition:enter-end="opacity-100"
         x-transition:leave="transition ease-in duration-150"
         x-transition:leave-start="opacity-100"
         x-transition:leave-end="opacity-0"
         class="fixed inset-0 z-50 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center">
      <!-- Modal -->
      <div x-show="isModalOpen"
           x-transition:enter="transition ease-out duration-150"
           x-transition:enter-start="opacity-0 transform translate-y-1/2"
           x-transition:enter-end="opacity-100"
           x-transition:leave="transition ease-in duration-150"
           x-transition:leave-start="opacity-100"
           x-transition:leave-end="opacity-0  transform translate-y-1/2"
           @click.away="closeModal"
           @keydown.escape="closeModal"
           class="w-full px-6 py-4 overflow-hidden bg-white rounded-t-lg dark:bg-gray-800 sm:rounded-lg sm:m-4 sm:max-w-xl"
           role="dialog"
           id="modal">
        <!-- Remove header if you don't want a close icon. Use modal body to place modal tile. -->
        <header class="flex justify-end">
          <button class="inline-flex items-center justify-center w-6 h-6 text-gray-400 transition-colors duration-150 rounded dark:hover:text-gray-200 hover: hover:text-gray-700"
                  aria-label="close"
                  @click="closeModal">
            <svg class="w-4 h-4"
                 fill="currentColor"
                 viewBox="0 0 20 20"
                 role="img"
                 aria-hidden="true">
              <path d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                    fill-rule="evenodd"></path>
            </svg>
          </button>
        </header>
        <!-- Modal body -->
        <div class="mb-6">
          <!-- Modal title -->
          <p class="mb-2 text-xl font-semibold text-center text-gray-700 dark:text-gray-300">
            피드 <span class="modal-message-status"></span>
          </p>
          <!-- Modal description -->
          <p class="text-sm text-gray-700 bg-gray-100 dark:text-gray-400 p-4 mb-3 feedContents">
            cubes001@gmail.com
          </p>
          <p class="text-sm text-gray-700 dark:text-gray-400">
            선택하신 사용자 계정의 피드를 <span class="modal-message-status"></span>처리 하시겠습니까?
          </p>
        </div>
        <footer class="flex flex-col items-center justify-center px-6 py-3 -mx-6 -mb-4 space-y-4 sm:space-y-0 sm:space-x-6 sm:flex-row bg-gray-50 dark:bg-gray-800">
          <button @click="closeModal"
                  class="w-full px-5 py-3 text-sm font-medium leading-5 text-white
                  transition-colors duration-150 bg-blue-600 border border-transparent
                  rounded-lg sm:w-auto sm:px-4 sm:py-2 active:bg-blue-600 hover:bg-blue-700
                  focus:outline-none focus:shadow-outline-blue"
                  id="changeFeedStatus">
            확인
          </button>
          <button @click="closeModal" class="w-full px-5 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-gray-500 border border-transparent rounded-lg sm:w-auto sm:px-4 sm:py-2 active:bg-gray-600 hover:bg-gray-700 focus:outline-none focus:shadow-outline-blue">
            취소
          </button>
        </footer>
      </div>
    </div>
    <!-- modal end -->
    <div th:replace="layout/fragment :: footer"></div>
  </div>
</div>
<script th:inline="javascript">
  /*<[CDATA[*/
  let searchType = [[${param.searchType}]];
  let keyword = [[${param.keyword}]];
  let email = [[${account.email}]];
  /*]]>*/

</script>
<script th:src="@{/js/user.js}"></script>
</body>
</html>
