<!DOCTYPE html>
<html x-data="data()" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/fragment :: head">
<body>

<div class="flex h-screen bg-gray-50 dark:bg-gray-900"
     :class="{ 'overflow-hidden': isSideMenuOpen }">
    <!-- 좌측 메뉴 -->
    <div th:replace="layout/fragment :: left-menu"></div>

    <div
            x-show="isSideMenuOpen"
            x-transition:enter="transition ease-in-out duration-150"
            x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-100"
            x-transition:leave="transition ease-in-out duration-150"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0"
            class="fixed inset-0 z-10 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center"
    ></div>
    <!-- 모바일 메뉴 -->
    <div th:replace="layout/fragment :: mobile-menu"></div>

    <div class="flex flex-col flex-1 w-full">
        <!-- sub 상단 메뉴 -->
        <div th:replace="layout/sub-header-fragment ::sub-header-user"></div>

<!--
        <main class="h-full overflow-y-auto">
            <-- start --
            <div class="px-6 grid md:grid-cols-2 gap-4">
                <div class="p-2 text-xl font-semibold flex items-center">회원관리</div>
                <form th:action="@{/admin/user/list}" th:object="${searchForm}">
                    <div class="p-2 grid md:grid-cols-6">
                        <div class="grid md:grid-cols-4 gap-2 md:col-span-4">
                            <div class="md:col-span-1">
                                <label for="countries"
                                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400 hidden">검색항목
                                    선택</label>
                                <select id="countries" th:field="*{searchType}" name="searchType"
                                        class="h-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option value="phone">연락처</option>
                                    <option value="name">이름</option>
                                    <option value="nickname">닉네임</option>
                                    <option value="email">이메일</option>
                                </select>
                            </div>
                            <div class="md:col-span-2">
                                <input class="w-full h-full py-3 pl-2.5 pr-2 text-sm placeholder-gray-600 bg-white border border-gray-300 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300"
                                       type="text"
                                       th:field="*{keyword}"
                                       placeholder="검색어 입력"
                                       aria-label="Search"/>
                            </div>
                            <div class="md:col-span-1">
                                <button class="md:w-20 w-full h-full px-3 py-1 text-sm text-center font-medium leading-5 text-white transition-colors duration-150 bg-black border border-transparent rounded-lg active:bg-gray-600 hover:bg-gray-700 focus:outline-none focus:shadow-outline-gray">
                                    검색
                                </button>
                            </div>
                        </div>
                        <div class="grid md:grid-cols-3 gap-2 md:col-span-2">
                            <div></div>
                            <div class="col-span-2">
                                <button class="w-full h-full px-3 py-1 text-sm text-center font-medium leading-5 text-white transition-colors duration-150 bg-gray-600 border border-transparent rounded-lg active:bg-gray-700 hover:bg-gray-700 focus:outline-none focus:shadow-outline-gray">
                                    제한된 사용자 관리
                                </button>
                            </div>
                        </div>
                </form>
            </div>
    </div>
-->

    <main class="h-full overflow-y-auto">
        <!-- start -->
        <div class="px-6 grid md:grid-cols-2 gap-4">
            <!-- Breadcrumb start -->
            <div class="text-xl font-semibold flex items-center h-16">
                <nav class="flex" aria-label="Breadcrumb">
                    <ol class="inline-flex items-center space-x-1 md:space-x-3">
                        <li class="inline-flex items-center">
                            <a href="#" class="inline-flex items-center text-sm text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                                <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                                Home
                            </a>
                        </li>
                        <li>
                            <div class="flex items-center">
                                <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                <a href="#" class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">회원 관리</a>
                            </div>
                        </li>
                        <li aria-current="page">
                            <div class="flex items-center">
                                <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                <span class="ml-1 text-sm font-medium text-gray-400 md:ml-2 dark:text-gray-500">목록</span>
                            </div>
                        </li>
                    </ol>
                </nav>
            </div>
            <!-- Breadcrumb end -->
            <form th:action="@{/admin/user/list}" th:object="${searchForm}">
                <div class="p-2 grid md:grid-cols-6">
                    <div class="col-span-2"></div>
                    <div class="grid md:grid-cols-4 gap-2 md:col-span-4">
                        <div class="md:col-span-1">
                            <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400 hidden">검색항목 선택</label>
                            <select id="countries" th:field="*{searchType}" name="searchType"
                                    class="h-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option value="phone">연락처</option>
                                <option value="name">이름</option>
                                <option value="nickname">닉네임</option>
                                <option value="email">이메일</option>
                            </select>
                        </div>
                        <div class="md:col-span-2">
                            <input class="w-full h-full py-3 pl-2.5 pr-2 text-sm placeholder-gray-600 bg-white border border-gray-300 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300"
                                   type="text"
                                   th:field="*{keyword}"
                                   placeholder="검색어 입력"
                                   aria-label="Search"/>
                        </div>
                        <div class="md:col-span-1">
                            <button class="md:w-20 w-full h-full px-3 py-1 text-sm text-center font-medium leading-5 text-white transition-colors duration-150 bg-black border border-transparent rounded-lg active:bg-gray-600 hover:bg-gray-700 focus:outline-none focus:shadow-outline-gray">
                                검색
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- end -->

            <!-- end -->
    <div class="px-6 mx-auto grid">
        <!-- 상단 타이틀 & 검색영역 -->
        <!-- New Table -->
        <div class="w-full overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-auto">
                <table class="w-full whitespace-no-wrap">
                    <thead>
                    <tr class="text-sm font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
<!--
                        <th class="px-4 py-3">
                            <input type="checkbox" class="chk" id="allCheckBox" onclick="allChecked(this)">
                            <input type="checkbox">
                        </th>
-->
                        <th class="px-4 py-3 text-center">사용자 계정</th>
                        <th class="px-4 text-center">관리</th>
                        <th class="px-4 py-3 text-center">닉네임</th>
                        <th class="px-4 py-3 text-center">이름</th>
                        <th class="px-4 py-3 text-center">연락처</th>
                        <th class="px-4 py-3 text-center">최근 접속 일시</th>
                        <th class="px-4 py-3 text-center">가입일</th>
                        <th class="px-4 py-3 text-center">큐브(룸)</th>
                    </tr>
                    </thead>
                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                    <tr class="text-gray-700 dark:text-gray-400" th:if="${userList.getTotalElements() == 0}">
                        <td colspan="8" class="px-4 py-20 text-center">게시글이 존재하지 않습니다.</td>
                    </tr>
                    <tr class="text-gray-700 dark:text-gray-400" th:each="list : ${userList}">
<!--
                        <td class="px-4 py-3">
                            <input type="checkbox" class="chk" name="chk" onclick="checkClicked()"
                                   th:value="${list.id}">
                        </td>
-->
                        <td class="px-4 py-3 text-sm"><a
                                th:href="@{/admin/user/detail/{email}(email=${list.email}, searchType=${param.searchType}, keyword=${param.keyword})}"><span
                                th:text="${list.email}">cube001@gmail.com</span></a>
                        </td>
                        <td class="px-4 py-3 text-center text-xs">
                        <button class="w-20 px-3 py-1 text-sm text-center font-medium leading-5
                                        text-white transition-colors duration-150 border border-transparent
                                        rounded-lg active:bg-gray-600 hover:bg-gray-700 focus:outline-none
                                        focus:shadow-outline-gray user-default-modal"
                                type="button"
                                data-modal-toggle="defaultModal"
                                th:data-email="${list.email}"
                                th:data-status="${list.userStatus}"
                                th:classappend="${list.userStatus.toString() == 'Y' ? 'bg-gray-400 hover:bg-gray-500' : 'bg-red-700 hover:bg-red-800'}"
                                th:data-id="${list.id}">
                            <span th:if="${list.userStatus.toString() == 'Y'}" th:text="'정상'"></span>
                            <span th:if="${list.userStatus.toString() == 'D'}" th:text="'사용 제한'"></span>


                        </button>
<!--
                            <button th:click="|javascript:openModal(this)|" class="w-20 px-3 py-1 text-sm text-center font-medium leading-5 text-white transition-colors duration-150 bg-black border border-transparent rounded-lg active:bg-gray-600 hover:bg-gray-700 focus:outline-none focus:shadow-outline-gray">
                                사용 제한
                            </button>
-->
                        </td>
                        <td class="px-4 py-3 text-center text-xs" th:text="${list.nickname}">닉네임</td>
                        <td class="px-4 py-3 text-center text-sm" th:text="${list.name}">홍길동</td>
                        <td class="px-4 py-3 text-center text-sm" th:text="${list.phone}">010-112-3332</td>
                        <td class="px-4 py-3 text-center text-sm"
                            th:text="${#temporals.format(list.lastLoginDate, 'yyyy-MM-dd HH:mm')}">2022.01.01 12:12:12
                        </td>
                        <td class="px-4 py-3 text-center text-sm"
                            th:text="${#temporals.format(list.createdAt, 'yyyy-MM-dd HH:mm')}">2022.01.01 12:12:12
                        </td>
                        <td class="px-4 py-3 text-center text-sm">
                            <a th:href="@{/admin/user/detail/{email}(email=${list.email}, searchType=${param.searchType}, keyword=${param.keyword}, feedStatus=true)}">
                                <button class="w-30 px-3 py-1 text-sm text-center font-medium leading-5 text-white transition-colors duration-150 bg-blue-500 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-gray">
                                    List 상세보기
                                </button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="grid grid-cols-6 gap-4 px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-6 dark:text-gray-400 dark:bg-gray-800">
                <div class="col-start-1 col-span-1">
<!--
                    <button @click="openModal"
                            class="w-30 px-3 py-1 text-sm text-center font-medium leading-5 text-white transition-colors duration-150 bg-gray-600 border border-transparent rounded-lg active:bg-gray-700 hover:bg-gray-800 focus:outline-none focus:shadow-outline-gray">
                        선택한 계정 제한
                    </button>
-->
                </div>
                <div class="col-start-2 col-end-6 text-center">
                    <nav aria-label="Page navigation example" th:if="${userList.getTotalPages() > 0}">
                        <ul class="inline-flex items-center -space-x-px flex items-baseline">
                            <li th:if="${userList.hasPrevious()}">
                                <a th:href="@{/admin/user/list(searchType=${param.searchType}, keyword=${param.keyword}, page=${userList.getNumber() - 1})}"
                                   class="block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                    <i class="fas fa-chevron-left"></i>
                                </a>
                            </li>
                            <li th:each="i : ${#numbers.sequence(0, userList.getTotalPages() - 1 )}">
                                <a th:href="@{/admin/user/list(searchType=${param.searchType}, keyword=${param.keyword}, page=${i})}"
                                   th:classappend="${i == (userList.getNumber()) ? 'text-blue-600 bg-blue-50 border-blue-300' : 'text-gray-500 bg-white border-gray-300'}"
                                   class="py-2 px-3 leading-tight border
                                hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400
                                dark:hover:bg-gray-700 dark:hover:text-white" th:text="${i + 1}">1</a>
                            </li>
                            <li th:if="${userList.hasNext()}">
                                <a th:href="@{/admin/user/list(searchType=${param.searchKeyword}, keyword=${param.keyword}, page=${userList.getNumber() + 1})}"
                                   class="block py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    </main>

    <!-- default modal start -->
    <!-- Main modal -->
    <div id="defaultModal" tabindex="-1" aria-hidden="true" class="user-default-modal fixed hidden overflow-y-auto overflow-x-hidden flex justify-center items-center z-50 w-full md:inset-0 h-modal md:h-full">
        <div class="absolute p-4 w-full max-w-2xl h-full md:h-auto">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600 modal-header">
                    <h3 id="modal-header-title" class="text-xl font-semibold text-gray-900 dark:text-white">
                        계정 사용 제한
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="defaultModal">
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-6 space-y-6 modal-body">
                    <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                        사용자 계정(<span id="userEmail"></span>)의 계정을 <span id="textInfo"></span>하시겠습니까?
                    </p>
                </div>
                <!-- Modal footer -->
                <div class="flex justify-center items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600 modal-body">
                    <button th:onclick="|javascript:changeUserStatus()|" data-modal-toggle="defaultModal" type="button"
                            class="text-white focus:ring-4
                            focus:outline-none focus:ring-red-300 font-medium rounded-lg
                             text-sm px-5 py-2.5 text-center dark:bg-red-600
                             dark:hover:bg-red-700 dark:focus:ring-red-800">
                        사용 제한
                    </button>
                    <button data-modal-toggle="defaultModal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                        취소
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="layout/fragment :: footer"></div>
</div>
</div>
<script th:src="@{/js/flowbite.js}"></script>
<script th:src="@{/js/user.js}"></script>
</body>
</html>