<!DOCTYPE html>
<html x-data="data()" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/fragment :: head">
<body>

<div class="flex h-screen bg-gray-50 dark:bg-gray-900"
     :class="{ 'overflow-hidden': isSideMenuOpen }">
    <!-- 좌측 메뉴 -->
    <div th:replace="layout/fragment :: left-menu"></div>

    <div
            x-show="isSideMenuOpen"
            x-transition:enter="transition ease-in-out duration-150"
            x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-100"
            x-transition:leave="transition ease-in-out duration-150"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0"
            class="fixed inset-0 z-10 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center"
    ></div>
    <!-- 모바일 메뉴 -->
    <div th:replace="layout/fragment :: mobile-menu"></div>

    <div class="flex flex-col flex-1 w-full">
        <!-- sub 상단 메뉴 -->
        <div th:replace="layout/sub-header-fragment ::sub-header-qna"></div>
        <main class="h-full overflow-y-auto">
            <!-- start -->
            <div class="px-6 grid md:grid-cols-2 gap-4">
                <!-- Breadcrumb start -->
                <div class="text-xl font-semibold flex items-center h-16">
                    <nav class="flex" aria-label="Breadcrumb">
                        <ol class="inline-flex items-center space-x-1 md:space-x-3">
                            <li class="inline-flex items-center">
                                <a href="#"
                                   class="inline-flex items-center text-sm text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                                    <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
                                    </svg>
                                    Home
                                </a>
                            </li>
                            <li>
                                <div class="flex items-center">
                                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <a href="#"
                                       class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">Q&A
                                        관리</a>
                                </div>
                            </li>
                            <li aria-current="page">
                                <div class="flex items-center">
                                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <span class="ml-1 text-sm font-medium text-gray-400 md:ml-2 dark:text-gray-500">상세</span>
                                </div>
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- Breadcrumb end -->
            </div>
            <!-- end -->


            <!-- start -->
            <div class="px-6 grid gap-4">

                <div class="grid gap-6">
                    <div class="w-full overflow-hidden rounded-lg shadow-xs">
                        <div class="w-full overflow-auto bg-white">
                            <table class="w-full">
                                <tbody>
                                <tr class="text-sm border-b text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                                    <th class="px-4 py-3 bg-gray-50 w-32">문의자 정보</th>
                                    <td class="px-4 py-3 bg-white">
                                        <span th:text="${detail.email}"></span>
                                    </td>
                                    <th class="px-4 py-3 bg-gray-50 w-32">문의 유형</th>
                                    <td class="px-4 py-3 bg-white">
                                        <span th:if="${detail.type.toString() == 'QNA_SERVICE'}" th:utext="'서비스 문의'">서비스 문의</span>
                                        <span th:if="${detail.type.toString() == 'QNA_LOGIN'}" th:utext="'로그인 문의'">서비스 문의</span>
                                        <span th:if="${detail.type.toString() == 'QNA_ETC'}" th:utext="'기타 문의'">서비스 문의</span>
                                    </td>
                                </tr>
                                <tr class="text-sm border-b text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                                    <th class="px-4 py-3 bg-gray-50 w-32">등록일</th>
                                    <td colspan="3" class="px-4 py-3 bg-white" th:text="${#temporals.format(detail.createdAt, 'yyyy-MM-dd HH:mm')}">
                                        2022-01-01 11:11:11
                                    </td>
                                </tr>
                                <tr class="text-sm border-b text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                                    <th class="px-4 py-3 bg-gray-50 w-32">문의제목</th>
                                    <td colspan="3" class="px-4 py-3 bg-white" th:text="${detail.title}">
                                        문의 제목이 출력됩니다.
                                    </td>
                                </tr>
                                <tr class="text-sm border-b text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                                    <th class="px-4 py-3 bg-gray-50 w-32">문의내용</th>
                                    <td colspan="3" class="px-4 py-3 bg-white" th:utext="${detail.question}">
                                        문의 내용이 출력됩니다.
                                    </td>
                                </tr>
                                <tr th:classappend="${detail.answer} != null ? 'contents' : 'none'" id="replyView" class="text-sm border-b text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                                    <th class="px-4 py-3 bg-gray-50 w-32">답변내용</th>
                                    <td colspan="3" class="px-4 py-3 bg-white">
                                        <pre th:utext="${detail.answer}" class="replyContents">답변 내용 출력</pre>
                                    </td>
                                </tr>
                                <tr style="display: none" th:classappend="${detail.answer == null ? 'none' : 'contents'}" id="replyForm" class="text-sm border-b text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                                    <th class="px-4 py-3 bg-gray-50 w-32">답변작성</th>
                                    <td colspan="3" class="px-4 py-3 bg-white">
                                        <div class="flex justify-between">
                                            <div class="w-11/12">
                                                <textarea type="text" id="answer" class="w-full form-input h-20" minlength="4" maxlength="200" name="answer"></textarea>
                                            </div>
                                            <div class="w-1/12">
                                                <button id="btnReplySubmit" class="bg-red-500 text-white text-sm rounded-lg font-medium py-1 px-6 hover:bg-gray-700 ml-3 h-20">
                                                    답변
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

<!--
                                <tr style="display: none" th:classappend="${detail.answer == null ? 'display: none' : 'display: contents'}" id="replyDiv" class="text-sm border-b text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                                    <th class="px-4 py-3 bg-gray-50 w-32">답변작성</th>
                                    <td colspan="3" class="px-4 py-3 bg-white">
                                        <div class="flex justify-between">
                                            <div class="w-11/12">
                                                <textarea type="text" id="answer" class="w-full form-input h-20" minlength="4" maxlength="200" name="answer"></textarea>
                                            </div>
                                            <div class="w-1/12">
                                                <button id="btnReplySubmit" class="bg-red-500 text-white text-sm rounded-lg font-medium py-1 px-6 hover:bg-gray-700 ml-3 h-20">
                                                    답변
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr th:if="${detail.answer != null}" class="text-sm border-b text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                                    <th class="px-4 py-3 bg-gray-50 w-32">답변내용</th>
                                    <td colspan="3" class="px-4 py-3 bg-white">
                                        <pre th:utext="${detail.answer}">답변 내용 출력</pre>
                                    </td>
                                </tr>
-->
                                </tbody>
                            </table>
                            <div class="flex justify-center my-4 gap-4">

                                <a href="/admin/qna/list">
                                    <button type="button"
                                            class="text-gray-900 bg-white border border-gray-300
                                                   focus:outline-none hover:bg-gray-100 focus:ring-4
                                                   focus:ring-gray-200 font-medium rounded-lg text-sm
                                                   px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white
                                                   dark:border-gray-600 dark:hover:bg-gray-700
                                                   dark:hover:border-gray-600 dark:focus:ring-gray-700">목록
                                    </button>
                                </a>
                                <button th:classappend="${detail.answer} != null ? 'hidden' : 'replyBtn'" type="button"
                                        class="focus:outline-none text-white bg-red-700
                                              hover:bg-red-800 focus:ring-4 focus:ring-red-300
                                              font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2
                                              dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">답변
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end -->
        </main>
        <div th:replace="layout/fragment :: footer"></div>
        <script>
            const replyView = document.querySelector("#replyView");
            const replyForm = document.querySelector("#replyForm");
            const replyBtn = document.querySelector(".replyBtn");
            let replyContents = document.querySelector(".replyContents");

            replyBtn.onclick = function () {
                if (replyForm.style.display == 'none') {
                    replyForm.style.display = 'contents';
                    $(".replyBtn").html('취소').removeClass('bg-red-500').addClass('bg-blue-500');
                } else {
                    replyForm.style.display = 'none';
                    $(".replyBtn").html('답변').removeClass('bg-blue-500').addClass('bg-red-500');
                    $("#answer").val("");
                }

            };

            let btnReplySubmit = document.querySelector("#btnReplySubmit");
            const id = [[${detail.id}]];
            btnReplySubmit.onclick = function () {
                const answer = $("#answer").val();
                if (answer.length < 10 || answer == "") {
                    alert("답변은 10자리 이상을 입력해 주세요");
                    $("#answer").focus();
                    return;
                }
                // let answer = $("#answer").val();
                data = {
                    "answer": answer,
                    "id": id
                }
                $.ajax({
                    url: "/admin/qna/detail/" + id + "/answer",
                    type: "post",
                    data: JSON.stringify(data),
                    contentType: "application/json;charset=UTF-8",
                    success: function (data) {
                        replyForm.style.display = 'none';
                        replyView.style.display = 'contents';
                        replyContents.style.display = "contents";
                        replyBtn.style.display = 'none';
                        $("#replyView").load(location.href + " #replyView");
                    },
                })

            };
        </script>
    </div>
</div>
</body>
</html>
